@using DelpinBooking.Controllers
@model Dictionary<string, int>

@{
    ViewData["Title"] = "Vælg maskiner";
}

<h1>Maskiner</h1>
@{ 
    List<SelectListItem> cities = new List<SelectListItem>();
    foreach(string s in ViewBag.WarehouseCities)
    {
        cities.Add(new SelectListItem() { Text = s, Value = s });
    }

}

@using (Html.BeginForm(FormMethod.Get))
{
    @Html.DropDownList("warehousecity", cities, "-- Vælg et varehus --")
    <input type="submit" value="Filtrer" />
}

<table class="table">
    <thead>
        <tr>
            <th>
                Navn
            </th>
            <th>
                Antal
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    <a asp-action="AddToCart" asp-route-name="@item.Key">Add to cart</a>
                </td>
            </tr>
        }
    </tbody>
</table>
