@model DelpinBooking.Models.Machine

@{
    ViewData["Title"] = "Create";
}

<h1>Opret Ny</h1>

<h4>Maskine</h4>
<hr />

@{
    List<SelectListItem> warehouses = new List<SelectListItem>();
    foreach (Warehouse w in ViewBag.Warehouses)
    {
        warehouses.Add(new SelectListItem() { Text = w.City, Value = ("" + w.Id) });
    }

}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div>
                <label class="control-label">Varehus</label>
                <br />
                @Html.DropDownList("warehouseid", warehouses, "-- Vælg et varehus --")
            </div>

            <div class="form-group">
                <br />
                <input type="submit" value="Opret" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tilbage til listen</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
